@import url("http://fonts.googleapis.com/css?family=Tangerine:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("font-awesome.css");
/*MOVIE TICKET BOOKING PROCESS*/
.content-inner {
    padding: 3em 0;
    color: #0b0b0b;
}

.follow-title {
    color: #02a388;
    padding-top: 0.375rem;
    margin-bottom: 0;
    height: 2.3rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #02a388;
    cursor: pointer;
}

.follow-title.active {
    color: #fe423f;
    border-bottom: 2px solid #fe423f;
}

/*FILM SELECTION*/
.film-selection-progress {
    margin: 2rem 0;
    width: 100%;
}

.film-selection {
    padding: 0.1rem 0.2rem;
}

.film-selection table {
    width: 100%;
}

.film-selection thead {
    background-color: #02a388;
    color: white;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
}

.film-selection tbody {
    height: 24rem;
    display: grid;
    overflow-x: hidden;
    overflow-y: scroll;
}

.film-selection tbody tr, td {
    height: 6rem;
    cursor: pointer;
    width: inherit;
    border-left: none;
    border-right: none;
}

.film-poster {
    height: 90%;
    margin: 0.2rem 0.2rem;
}

.film-title {
    color: #02a388;
    font-weight: bold;
    font-size: 1rem;
}

.film-info {
    color: #424546;
    font-style: italic;
    font-size: 0.8rem;
    display: block;
}

.showtime-date {
    color: #02a388;
    font-size: 0.9rem;
    align-items: center;
    font-weight: bold;
}

.showtime-date div a {
    text-decoration: none;
    color: #424546;
    padding: 0;
}

.showtime {
    color: #02a388;
    font-size: 0.9rem;
    align-items: center;
    cursor: default;
}

.showtime-label {
    width: 15%;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    padding: 0.6rem 0.3rem;
    list-style: none;
    cursor: pointer;
    letter-spacing: 1px;
    margin: 2px 3px;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    color: #ffffff;
    background: #fe423f;
    border: none;
}

.showtime-label:hover {
    color: white;
    background-color: #424546;
}

.btn-progress {
    outline: none;
    font-style: normal;
    font-size: 14px;
    display: block;
    border: none;
    -webkit-transition: .5s all;
    -webkit-appearance: button;
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.btn-progress:hover {
    color: #fff;
    background: #fe423f;
}

.btn-submit {
    color: #fff !important;
    background: #02a388;
}

.btn-progress-sm {
    height: auto;
    width: 8rem !important;
}

.btn-submit-lg {
    padding: 1rem 2rem;
    font-size: 1rem;
}

.btn-cancel {
    background: #0c0d0d;
    color: #fff !important;
}

.btn-cancel:hover {
    color: #02a388;
}

/*SEAT SELECTION*/
.screen {
    border-bottom: 3px solid dimgrey;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
}

.screen div {
    font-size: 1rem;
    font-weight: bold;
}

.seat-layout {
    border: none;
    padding: 2px;
    width: auto;
}

.seat-layout tbody tr td {
    cursor: pointer;
    width: inherit;
    padding: 0.2rem;
    margin: 0;
    height: inherit;
}

.seat-layout tbody tr td div {
    margin: 0;
}

.seat {
    border: 1px solid #7ab489;
    font-weight: bold;
    font-size: 13px;
    color: black;
    width: 35px;
    height: 35px;
    margin: 0;
    align-items: center;
}

.damaged-seat {
    background-color: #d1002f !important;
    content: "X";
    cursor: not-allowed;
}

.seat-none {
    border: none !important;
    color: white;
}

.standard-seat {
    background-color: #f4ebe5 !important;
    cursor: pointer;
}

.booked-seat {
    background-color: grey !important;
    cursor: not-allowed;
}

.keeping-seat {
    background-color: #a8db26 !important;
    cursor: pointer;
}

.vip-seat {
    background-color: lightpink !important;
    cursor: pointer;
}

.seat-selection-info {
    text-align: center;
    border-bottom: 3px solid dimgrey;
    font-size: 1.4rem;
    font-weight: bold;
}

.seat-selection-film {
    text-align: center;
    text-transform: uppercase;
    color: #fe423f;
    margin: 1rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.seat-selection-table {
    width: 100%;
    padding: 0.1rem 0.1rem;
}

.seat-selection-table tbody tr td {
    height: 2rem;
    color: #0a7362;
    font-size: 1rem;
}

.total-amount {
    font-weight: bold;
    font-size: 1.1rem !important;
    color: #fe423f !important;
    border-top: 1px solid dimgrey;
    text-transform: uppercase;
}

/*BOOKING CONFIRMATION*/

.booking-confirmation-title {
    text-align: center;
    text-transform: uppercase;
    color: #0a7362;
    margin: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.confirm-poster {
    width: 100%;
}

.confirm-film-table tbody tr td {
    height: 3rem;
}

.payment-method-logo {
    height: 6rem;
}

/*BOOKING INFORMATION*/

.table-booking-info tbody tr td {
    height: 1.5rem;
    font-size: 1rem;
}

.notice {
    font-size: 0.9rem;
    font-style: italic;
    margin-left: 1rem;

}
