<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/template/layout/forgot-password.css">
</head>
<body class="mat-typography">
<div class="container-fluid">
    <div th:replace="~{client/client-shared/layout/header.html}"></div>

    <div class="content-inner row form-sigin">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <h5 class="card-title font-weight-bold">Quên mật khẩu</h5>
                    </div>
                    <div class="form-signin form-group" th:if="${!isShowOtp and !isShowNewPasswordForm}">
                        <form th:action="@{/forgot-password}" method="post">
                            <div class="form-label-group text-left">
                                <p class="font-weight-bold required mx-0 px-0">
                                    Vui lòng nhập tên tài khoản bạn muốn lấy lại mật khẩu:
                                </p>
                                <input type="text" id="username" name="username" class="form-control"
                                       placeholder="Tên đăng nhập" autofocus required/>
                                <small class="form-text text-danger" th:if="${error != null}"
                                       th:text="${error}"></small>
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block text-uppercase mt-3">
                                Lấy lại mật khẩu
                            </button>
                        </form>
                    </div>

                    <div class="form-signin form-group" th:if="${isShowOtp}">
                        <form th:action="@{/reset-password}" method="post">
                            <div class="form-label-group">
                                <p class="font-weight-bold required mx-0 px-0">
                                    Vui lòng nhập mã otp vừa gửi tới email của bạn:
                                </p>
                                <input type="hidden" name="username" th:value="${username}"/>
                                <input type="hidden" name="code" th:value="${code}"/>
                                <input type="hidden" name="count" th:value="${count}"/>
                                <input type="text" id="otp" name="otp" class="form-control" placeholder="Mã OTP"
                                       autofocus required/>
                                <small class="form-text text-danger" th:if="${errorOTP != null}"
                                       th:text="${errorOTP}"></small>
                                <div class="d-flex flex-row justify-content-start mt-2">
                                    <a th:href="@{/forgot-password(username=${username})}" class="custom-link">
                                        Bạn chưa nhận được mã? Gửi lại mã.
                                    </a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block text-uppercase mt-3">
                                Xác nhận
                            </button>
                        </form>
                    </div>

                    <div class="form-signin form-group" th:if="${isShowNewPasswordForm}">
                        <form th:action="@{/update-password}" method="post" th:object="${accountDTO}">
                            <div class="form-label-group">
                                <p class="font-weight-bold required mx-0 px-0">
                                    Vui lòng nhập mật khẩu mới:
                                </p>
                                <input type="hidden" name="username" th:value="${username}"/>
                                <div class="mb-3">
                                    <input type="password" id="newPassword" name="newPassword" class="form-control"
                                           placeholder="Mật khẩu mới" th:field="*{newPassword}" required/>
                                    <small class="form-text text-danger"
                                           th:if="${#fields.hasErrors('newPassword')}"
                                           th:errors="*{newPassword}"></small>
                                </div>
                                <div class="mb-3">
                                    <input type="password" id="confirmPassword" name="confirmPassword"
                                           class="form-control" placeholder="Xác nhận mật khẩu mới"
                                           th:field="*{confirmPassword}" required/>
                                    <small class="form-text text-danger"
                                           th:if="${#fields.hasErrors('confirmPassword')}"
                                           th:errors="*{confirmPassword}"></small>
                                </div>
                                <small class="form-text text-danger" th:if="${error != null}"
                                       th:text="${error}"></small>
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block text-uppercase mt-3">
                                Cập nhật mật khẩu
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal hiển thị loading -->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 150px; height: 125px;">
            <div class="modal-content">
                <div class="modal-body d-flex flex-row justify-content-center align-items-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{client/client-shared/layout/footer.html}"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/template/bootstrap/jquery-3.6.0.min.js"></script>
<script src="/template/bootstrap/js/bootstrap.js"></script>

<script>
    // Hiển thị modal loading khi form được submit
    $(document).ready(function () {
        $('form').on('submit', function () {
            $('#loadingModal').modal('show');
        });
    });
</script>
</body>
</html>