<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/template/layout/ticket-price.css">
    <link rel="stylesheet" href="/template/css/content.css">
    <link rel="stylesheet" href="/template/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/template/bootstrap/css/bootstrap.css">
</head>
<body class="mat-typography">
<div class="container-fluid">
    <div th:replace="~{client/client-shared/layout/header.html}"></div>

    <div class="nav-slide">
        <div class="container-fluid">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100"
                                 src="https://firebasestorage.googleapis.com/v0/b/a0720i1.appspot.com/o/dat-home%2Fmoney-heist.jpg?alt=media&token=f251ca40-e8ef-4d69-bfa7-a122b574e9f7"
                                 alt="Third slide">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h4>Money Heist</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100"
                                 src="https://firebasestorage.googleapis.com/v0/b/a0720i1.appspot.com/o/dat-home%2FJoker.jpg?alt=media&token=986460fc-8f81-4d44-8a5c-a1df32059446"
                                 alt="Third slide">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>JOKER</h5>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <a href="#">
                            <img class="d-block w-100"
                                 src="https://firebasestorage.googleapis.com/v0/b/a0720i1.appspot.com/o/dat-home%2Fstartwar.jpg?alt=media&token=2942828a-d051-4970-b0df-1cdb5f1aa520"
                                 alt="First slide">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Start War</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100"
                                 src="https://firebasestorage.googleapis.com/v0/b/a0720i1.appspot.com/o/dat-home%2Fmrrobot.jpg?alt=media&token=070dd329-3811-4326-a53f-50fe5dae98df"
                                 alt="Second slide">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Mr.robot</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- End slideshow container -->
        </div>
    </div>
    <div class="top-film d-flex flex-wrap justify-content-center mb-3">
        <div th:each="film : ${topFilms}" class="col-md-3 col-lg-3 col-sm-6 p-3">
            <div class="card position-relative">
                <img class="card-img-top img-top-movie" th:src="${film.imageUrl}" alt="...">
                <div class="hover-overlay-top-movie"></div>
                <div class="position-absolute name-top-movie">
                    <p th:text="${film.name}">Film Name</p>
                </div>
                <div class="position-absolute d-flex btn-top-movie">
                    <a class="btn" href="#">Đặt vé</a>
                    <a class="btn" th:href="@{/detail/{id}(id=${film.id})}">Chi tiết</a>
                </div>
                <div class="rated position-absolute">
                    <img th:src="${film.age}" alt="Cam do tuoi">
                </div>
            </div>
        </div>
    </div>
    <div class="film-detail-header d-flex justify-content-center">
        <p>Giá vé</p>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr class="main-table">
                    <th scope="col">Công nghệ phim</th>
                    <th scope="col">Ghế thường</th>
                    <th scope="col">Ghế Vip</th>
                </tr>
            </thead>
            <tbody>
            <tr class="body-main">
                <th scope="row">2D</th>
                <th th:each="ticket : ${ticketPrices}" th:text="${ticket.price}">Price</th>
            </tr>
            <tr class="body-main">
                <th scope="row">3D</th>
                <th th:each="ticket : ${ticketPrices}" th:text="${ticket.price}">Price</th>
            </tr>
            </tbody>
        </table>
    </div>
    <!--  Banner-->
    <div>
        <div class="banner-film"><img
                src="https://firebasestorage.googleapis.com/v0/b/a0720i1.appspot.com/o/dat-home%2Fbanner2.jpg?alt=media&token=dfee7647-a522-46d2-8e98-9c01918fa470"
                alt="banner"></div>
    </div>

    <div th:replace="~{client/client-shared/layout/footer.html}"></div>
</div>

<script src="/template/bootstrap/jquery-3.6.0.min.js"></script>
<script src="/template/bootstrap/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>